ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active a.page-link {
  color: white !important;
  background-color: #34495e !important;
  border-color: #34495e !important;
  cursor: pointer;
}

ul.pagination li.page-item.active a.page-link:hover {
  color: white !important;
  background-color: #435d77 !important;
  border-color: #435d77 !important;
}

ul.pagination a.page-link {
  padding: 1.2rem 1.6rem;
  min-width: 5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem;
}
ul.pagination a.page-link:hover {
  background-color: #f4f4f4;
}
